/* General styles */

body {
    font-family: Arial, sans-serif;
    display: grid;
    justify-content: space-between;
    align-items: center;
    height: min-content;
    background-color: #f7f1e3 !important;
    grid-template-columns: 280px 1fr;
    /* background-image: url(.docs/education.png);
    background-size: cover;
    background-position: center; */
  }
  
:root, [data-bs-theme=light] {
  --bs-body-bg: #000000
}

  /* Content style */

  hr {
    background-color: #ffffff;
    height: 4px;
  }

  body .nav {
    --bs-nav-pills-link-active-bg: #2c2c54;
  }

  .calculator {
    
    padding: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  
  /* .btn {
    padding: 5px 15px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  } */

  #addGrade {
    border: #2c2c54;
    outline-width: 2px;
    background-color: aqua;
  }
  
  input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
  }
  
  #result {
    padding: 20px;
    border-radius: 10px;
  }
  
  .approved {
    background-color: #4CAF50;
  }
  
  .reproved {
    background-color: red;
  }